@import "./normalize.min.css";
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background-color: #eee;
  font-family: "Permanent Marker", cursive;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  width: 1280px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.cards:hover .cards_item {
  animation-play-state: paused;
}

.cards_item {
  width: 9%;
  height: 270px;
  position: absolute;
  left: 0;
  color: #eee;
  text-align: center;
  font-size: 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  -webkit-box-shadow: 0px 30px 40px -6px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 0px 30px 40px -6px rgba(0, 0, 0, 0.59);
  box-shadow: 0px 30px 40px -6px rgba(0, 0, 0, 0.59);
  border-radius: 3px;
  animation: move 14s infinite linear;
  transform-origin: bottom;
}

@keyframes move {
  0% {
    transform: translateX(0%) scale(1);
    z-index: 5;
  }
  25% {
    transform: translateX(281.25%) scale(1.4);
    z-index: 5;
  }
  40% {
    transform: translateX(450%) scale(1.4);
    z-index: 5;
  }
  55% {
    transform: translateX(618.75%) scale(1.4);
    z-index: 5;
  }
  85% {
    transform: translateX(1000%) scale(1);
  }
  90% {
    z-index: 1;
  }
  100% {
    transform: translateX(0%) scale(1);
  }
}

.cards_item--1 {
  background: #600cac;
  animation-delay: -2s;
}

.cards_item--2 {
  background: #562781;
  animation-delay: -4s;
}

.cards_item--3 {
  background: #3c0470;
  animation-delay: -6s;
}

.cards_item--4 {
  background: #8e41d5;
  animation-delay: -8s;
}

.cards_item--5 {
  background: #a168d5;
  animation-delay: -10s;
}

.cards_item--6 {
  background: #600cac;
  animation-delay: -12s;
}

.cards_item--7 {
  background: #562781;
  animation-delay: -14s;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
